@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');

$color_a: #a05195;
$color_b: #3f9b7c;
$color_c: #ff7c43;
$color_d: #909f5c;
$color_e: #ffa600;
$color_f: #d45087;
$color_g: #665191;
$color_h: #f95d6a;
$color_i: #aab;
$octet_lighten: 15%;

body {
    a {
	color: #667;
    }
  background: #eee;
  font-family: 'Ubuntu', sans-serif;
  header {
    margin-bottom: 30px;
    margin-left: 40px;
    h1 {
      font-size: modular-scale(2);
      small {
        text-transform: uppercase;
        color: #669;
        display: block;
      }
    }
    p {
      margin-right: 90px;
      font-size: modular-scale(-1);
    }
  }

  div.ip-address {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    div {
      margin-top: 15px;
    }
    div.address {
      input {
        width: 2.5em;
        font-size: 2.7em;
        text-align: center;
        border: 0px;
        border-radius: 3px;
      }
      span.hextet {
        span.dot {
          font-size: 2.7em;
          text-align: center;
          padding: 0.1em 0.13em;
        }
        &:nth-child(1) input.hextet {
          background-color: $color_a;
        }
        &:nth-child(2) input.hextet {
          background-color: $color_b;
        }
        &:nth-child(3) input.hextet {
          background-color: $color_c;
        }
        &:nth-child(4) input.hextet {
          background-color: $color_d;
        }
	&:nth-child(5) input.hextet {
          background-color: $color_e;
        }
        &:nth-child(6) input.hextet {
          background-color: $color_f;
        }
        &:nth-child(7) input.hextet {
          background-color: $color_g;
        }
        &:nth-child(8) input.hextet {
          background-color: $color_h;
        }
      }
      input.cidr {
        background-color: $color_i;
      }
    }
    div.bits {
      ol {
        display: inline;
        padding-left: 0px;
        padding-right: 15px;
        li.octet {
          display: inline;
          ol {
            li.bit {
              display: inline;
              padding: 0.4em 0.6em;
              margin-left: -1px;
              border: 1px black solid;
            }
          }
	}
	div {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    line-height: 35px;
          &:nth-child(1) ol li.bit.unmasked {
              background-color: $color_a;
          }
	  &:nth-child(2) ol li.bit.unmasked {
              background-color: $color_b;
          }
	  &:nth-child(3) ol li.bit.unmasked {
              background-color: $color_c;
	  }
	  &:nth-child(4) ol li.bit.unmasked {
              background-color: $color_d;
	  }
	  &:nth-child(5) ol li.bit.unmasked {
              background-color: $color_e;
	  }
	  &:nth-child(6) ol li.bit.unmasked {
              background-color: $color_f;
	  }
	  &:nth-child(7) ol li.bit.unmasked {
              background-color: $color_g;
	  }
	  &:nth-child(8) ol li.bit.unmasked {
              background-color: $color_h;
	  }
          ol li.bit.masked {
              background-color: lighten($color_i, $octet_lighten);
              color: lighten($color_i, 22%);
          }
        }
      }
    }
    div.details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	div.cell {
	    flex: 1 1 0px
	}
      span.value {
          font-size: modular-scale(1);
	  overflow-wrap: anywhere;
      }
      span.label {
        display: block;
        font-family: 'Ubuntu', sans-serif;
        text-transform: uppercase;
        font-size: modular-scale(2);
        font-weight: bold;
        color: #779;
      }
    }
  }

  footer {
      margin-top: 50px;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: #999;
  }
}
